.message input, .credentials input {
    margin-bottom: 2em;
}
.field {
    margin-bottom: 2em !important;
}
.message {
    background-color: transparent;
}
.file {
    flex-direction: column;
    width: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
}
.image-previews {
    margin-top: 5em;
    min-height: 10em;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
.image-previews .preview {
    width: 50%;
    margin: 2em auto auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.image-previews .preview img {
    max-width: 50%;
}
.image-previews .preview p {
    width: max-content;
    margin: auto;
}