#page {
    overflow-y: scroll !important;
    overflow-x: hidden !important;
}
.button.is-primary:hover {
    background-color: #fff !important;
    color: var(--primary);
}
.creations-page {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    margin-top: 5em;
}
.information {
    display: flex;
    flex-direction: column;
    width: 15%;
    padding-left: .5em;
    height: max-content;
}
.information .filters {
    display: flex;
    flex-direction: column;
}
.information .filters .add-filter {
    font-size: 1.1em;
    font-weight: bold;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: var(--light) 1px solid;
    border-radius: 4px;
    overflow: hidden;
}
.information .filters .add-filter:hover {
    cursor: url("/static/assets/mini_mouse_activated.png") 10 3, default;
}
.information .filters img {
    height: 50px;
}
.information .filters .active-filters {
    display: grid;
    grid-gap: 25px;
    margin: 1em;
    grid-template-columns: repeat(auto-fit, minmax(1em, 6em));
}
.information .filters .tag {
    background-color: var(--light);
    width: fit-content;
    margin: .5em;
}
.creations {
    display: flex;
    flex-direction: column;
    width: 80%;
}
.creations .search {
    display: flex;
    flex-direction: row;
    margin-bottom: 2em;
}
.creations .search .control {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: row;
}
.cards {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(4,1fr);
    margin-bottom: 2em;
}
.cards .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: .5s ease-in-out;
}
.cards .card:hover {
    cursor: url("/static/assets/mini_mouse_activated.png") 10 3, default;
}
.cards .card:hover {
    box-shadow: 0 .9em 1em .1em rgba(0, 0, 0, 0.1),0 0 0 1px rgba(0, 0, 0, 0.02);
}
.cards .card .header {
    height: 18em;
    width: 18em;
    overflow: hidden;
    margin-top: 1em;
}
.cards .card .header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cards .card .content {
    display: flex;
    flex-direction: column;
    max-width: unset !important;
    text-align: unset !important;
    height: unset !important;
    margin: 0 0 1em 0 !important;
}
.cards .card .content p {
    max-width: 80%;
    margin: auto;
    text-align: center;
}
.filters-input {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.date {
    margin: auto;
    width: fit-content;
}
.card .active-filters {
    max-width: 75%;
    text-align: center;
    margin: .5em auto auto;
}
.card .active-filters .tag {
    background-color: var(--light);
    margin: auto;
}
.filters .remove {
    border: 1px solid var(--light);
    width: fit-content;
    padding: .5em;
    margin: auto;
    border-radius: 4px;
}
.filters .remove:hover {
    background-color: var(--light);
    cursor: url("/static/assets/mini_mouse_activated.png") 10 3, default;
}

#addFilterInput {
    width: 100%;
}
.modal-close {
    content: url("/static/assets/boutons/croix-fermer.png");
}
.modal-close::after, .modal-close::before {
    display: none !important;
}
.modal-background {
    background-color: var(--text);
    opacity: 80%;
}
@media (max-width: 1024px) {
    .cards {
        grid-template-columns: repeat(1,1fr);
    }
    .cards .card {
        max-width: 90%;
        margin: auto;
        width: 90%;
    }
    .cards .card .content {
        text-align: center !important;
    }
    .creations-page {
        flex-direction: column;
    }
    .creations {
        width: 100%;
    }
    .creations .search .control {
        width: 90%;
    }
    .information {
        width: 90%;
        padding: unset;
        margin: auto;
    }
    .information .page-infos {
        text-align: center;
    }
    #addFilterInput, #addFilterInput + button {
        width: 100%;
        margin: auto;
    }
    .filters-input {
        max-width: 80%;
    }
    .filters-input button {
        margin-top: 1em;
    }
}
