.reader {
    display: flex;
    width: 95%;
    height: 70%;
    margin: auto;
}
.quit-cross {
    position: absolute;
    right: 1.5em;
    top: 1.5em;
}
.quit-cross .cross {
    height: 4.5em;
}
.images {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 50%;
    height: 100%;
}
.images .carousel {
    max-width: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.images .carousel .previews {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    align-items: center;
    scrollbar-width: none;
}
.previews::-webkit-scrollbar {
    width: 0;
}
.images .carousel .previews img {
    margin: .1em auto;
    cursor: url("/static/assets/mini_mouse_activated.png"), default;
    opacity: 40%;
}
.images .view {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: none;
    border-left: none;
}
.images .view .image-viewing {
    height: auto;
    width: auto;
    padding: .2em;
    max-height: 90%;
    max-width: 90%;
}

#mdc.text {
    width: 40%;
    text-align: unset;
    padding: 1em;
    height: 90%;
    margin-top: 5em;
    overflow-y: scroll;
}
.crea-title {
    margin: auto;
}
.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
    width: max-content;
    margin: auto auto 1em;
}

.sub-menu img {
    background-color: #ffffff;
    border-radius: 20px;
}

@media (max-width: 1024px) {
    .content.card-title {
        padding-bottom: 1em !important;
    }
    .reader {
        flex-direction: column;
        width: 99%;
    }
    .images {
        width: 100%;
        height: 50%;
        flex-direction: column;
        align-items: center;
     }
    .images .carousel {
        width: 100%;
        height: 10%;
        flex-direction: row;
        max-width: 100%;
        /*overflow-x: scroll;*/
        /*overflow-y: hidden;*/
    }
    .images .carousel .previews {
        flex-direction: row;
    }
    .images .carousel .previews img {
        max-height: 1em;
    }
    .images .carousel .up {
        transform: rotate(-90deg);
    }
    .images .carousel .down {
        transform: rotate(-90deg);
    }
    .images .carousel .down img, .images .carousel .up img {
        height: 2em;
    }
    .images .view {
        height: 90%;
    }
    #mdc.text {
        width: 100%;
        margin-top: auto !important;
        margin-bottom: auto !important;
    }
    .quit-cross {
        position: absolute;
        right: .5em;
        top: 1em;
    }
    .quit-cross .cross {
        height: 2.5em;
    }
}