:root {
    --primary: var(--pink) !important;
    --secondary: #bc3077 !important;
}
.credentials {
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;
}

.credentials .mail {
    max-width: 25%;
    margin-right: 2em;
}
.credentials .name {
    max-width: 30%;
}

.modal-background {
    background-color: rgba(196, 196, 196, 0.86);
}

.message {
    background-color: unset !important;
}

.message.robot {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.message.robot .subject {
    max-width: unset;
}

.message .subject {
    max-width: 25%;
}

.message .content {
    margin: 2em 0 0 !important;
}

.message .content textarea {
    resize: none;
    height: 15em;
}
@media (max-width: 1024px) {
    .section {
        max-width: 90%;
    }
    .section .subtitle.is-3 {
        font-size: 1em;
    }
    .section .title.is-3 {
        font-size: 1.5em;
    }
     #page {
         overflow-y: scroll !important;
     }
     .credentials, .message {
         width: 100%;
         display: flex;
         flex-direction: column;
         justify-content: space-around;
     }
     .credentials .mail, .credentials .name, .message .subject, .message .content {
         width: 100%;
         max-width: unset !important;
         margin: .5em 0 0;
     }
     .credentials input {
         width: unset !important;
         max-width: unset !important;
     }
}
