#scroll {
    justify-content: center;
    min-height: 75%;
}
.read-more {
    display: none;
}
.illustration {
    height: 10em !important;
    position: absolute;
    bottom: 15%;
}
.illustration.top {
    bottom: unset !important;
    top: 15%;
}
.illustration.right {
    right: 30%;
    bottom: 15%;
}
.illustration.left {
    left: 30%;
    bottom: 15%;
}
.illustration.is-margin-reduce {
    bottom: 10%;
}
.illustration.top.is-margin-reduce {
    top: 10%;
}
.scrolling-section .content {
    text-align: justify !important;
    margin-top: auto !important;
    margin-bottom: auto !important;
}
.btn-img {
    max-height: 7em;
}
@media (max-height: 700px) {
    .illustration {
        display: none;
    }
}
@media (max-height: 1000px) {
    .illustration {
        height: 8em !important;
        bottom: 10%;
    }
    .illustration.is-margin-reduce, .illustration.right.is-margin-reduce, .illustration.left.is-margin-reduce {
        bottom: 5% !important;
    }
    .illustration.top {
        top: 15%;
    }
    .illustration.right {
        bottom: 10%;
    }
    .illustration.left {
        bottom: 10%;
    }
}
@media (min-height: 1200px) {
    .illustration {
        bottom: 20%;
    }
    .illustration.top {
        top: 20%;
    }
    .illustration.right {
        bottom: 20%;
    }
    .illustration.left {
        bottom: 20%;
    }
}
@media (max-width: 1200px) or (max-height: 800px) {
    .scrolling-section .is-3, .scrolling-section .is-4 {
        font-size: 1.1em !important;
    }
    .scrolling-section .is-5, .scrolling-section.activated p {
        font-size: 1em !important;
    }
}
@media (max-width: 1024px) {
    .scrolling-section h4, .scrolling-section h2 {
        min-width: unset !important;
        width: unset !important;
    }
    .scrolling-section h1.is-3  {
        width: max-content !important;
    }
    .scrolling-section .is-3, .scrolling-section .is-4 {
        font-size: 1.2em !important;
    }
    .scrolling-section .is-5, .scrolling-section.activated p {
        font-size: 1.1em !important;
    }
    .scrolling-section.activated {
        margin-bottom: unset !important;
    }
    .scrolling-section .content p {
        height: 19.9em;
        overflow: hidden;
    }
    .scrolling-section .read-more {
        display: unset !important;
    }
    .illustration {
        display: none;
    }
    .scrolling-section .separator {
        display: none;
    }
}