.content {
    overflow: scroll;
    height: 80%;
    margin-top: auto;
    margin-bottom: auto;
    text-align: justify;
    max-width: 50%
}
#copyright {
    display: none;
}
@media (max-width: 1024px) {
    .content {
        max-width: 90%;
    }
}