@font-face {
    src: url("/static/Manuscripte-Regular.ttf");
    font-family: ManuscripteSite;
}
* {
    font-family: 'ManuscripteSite', sans-serif !important;
}
.read-more, .button, hr, h4, h2 {
    display: none;
}
.content p, .content h1 {
    text-align: justify;
    font-weight: lighter;
}
.read-more {
    display: none;
}