.visible {
    animation-name: load;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
#scroll {
    transition: all .5s ease-in-out;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.scrolling-section:not(.first, .is-section-1) {
    min-height: 100%;
}
.scrolling-section {
    min-height: 50%;
    min-width: 100%;
}
.scrolling-section.activated {
    opacity: 100%;
    display: unset;
    animation-name: active;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
.scrolling-section.activated.is-section-1 {
     display: flex !important;
     flex-direction: column;
     align-items: center;
     justify-content: space-around;
 }
.scrolling-section.unactivated {
    opacity: 0;
    overflow: hidden !important;
    animation: 2s disactive ease-in-out;
    margin: 0 !important;
    display: none;
}
@keyframes load {
    0% {
        transform: scale(0, .015);
    }
    50% {
        transform: scale(1, .015);
    }
}

@keyframes active {
    from {
        opacity: 0;
    }
    to {
        opacity: 100%;
    }
}

@keyframes disactive {
    from {
        display: unset !important;
        opacity: 100%;
    }
    to {
        display: unset !important;
        opacity: 0;
    }
}