@font-face {
    src: url("/static/Manuscripte-Regular.ttf");
    font-family: ManuscripteSite;
}
* {
    font-family: 'ManuscripteSite', sans-serif !important;
}
:root {
    --menu-width: 45em; /* Width of menu */
    --items: 5; /* Number of items you have */
    --item-width: calc(var(--menu-width) / var(--items));
    --primary: #008000FF;
    --secondary: #006400FF;
    --text: #434343;
    --black: #000000FF;
    --light: #d8d5d5;
    --green: #16B84E;
    --purple: #6C0277;
    --orange: #ED7F10;
    --pink: #F9429E;
}
.preload {
    display: none;
}
::selection {
    background: var(--secondary) !important;
    color: #ffffff !important;
}
#copyright {
    position: absolute;
    bottom: .1em;
    right: .3em;
    color: var(--black) !important;
    z-index: 10;
    content: url("/static/assets/boutons/copyright.png");
    height: 5em;
}
.btn-img {
    max-height: 9em;
}
.invisible-hovered {
    font-size: 0px !important;
}
.hover:hover ~ .invisible-hovered, .invisible-hovered:hover {
    font-size: unset !important;
}
#copyright:hover {
    cursor: url("/static/assets/mini_mouse_activated.png") 10 3, default;
    content: url("/static/assets/boutons/copyright.gif");
}
.tag {
    font-size: 1rem !important;
}
#page {
    width: 100%;
    max-width: 100%;
    cursor: url("/static/assets/mini_mouse.png") 10 3, default;
}
#navbar-logo {
    position: relative;
    padding: 0;
    bottom: 0.5em;
}
#navbar-logo img {
    max-width: 100% !important;
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    color: var(--text) !important;
    height: 100vh;
    overflow: hidden !important;
    width: 100vw;
    display: flex;
    justify-content: center;
}
p, li {
    font-size: 1.3em !important;
}
ul li {
    list-style-image: url("/static/assets/list-style.png") !important;
    list-style-position: inside;
}
ul li::marker {
    transform: scale(0.5);
}
.scrolling-section p {
    font-size: 1.7rem !important;
    margin-top: -1.25rem;
}
.scrolling-section h1 {
    margin-bottom: .5em !important;
}
.subtitle.is-5 {
    font-size: 1.5rem;
}
.content:not(.scrolling-section .content) {
    height: 50%;
}
.content:not(.scrolling-section.is-section-1 .content) {
    margin: 12em auto auto;
}
.content {
    max-width: 90%;
    text-align: center;
}
.button, .file-cta, .file-name, .input, .pagination-ellipsis, .pagination-link, .pagination-next, .pagination-previous, .select select, .textarea {
    font-size: 1.3rem !important;
    font-weight: bold;
}
a {
    color: var(--secondary) !important;
}
a:hover, button:hover, .button:hover, .arrow-down:hover, img.down:hover, .quit-cross:hover {
    color: var(--primary) !important;
    cursor: url("/static/assets/mini_mouse_activated.png") 10 3, default;
}
.menu-item:hover {
    cursor: url("/static/assets/mini_mouse_activated.png") 10 3, default;
}
.pagination {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 95%;
    top: 40%;
}
.pagination .dot {
    border-radius: 50%;
    content: url("/static/assets/pagination.png");
    transform: scale(1.2);
    height: 20px;
    width: 20px;
    margin: 4px;
}
.pagination .dot:hover {
    cursor: url("/static/assets/mini_mouse_activated.png") 10 3, default;
}
.pagination .dot.is-active {
    content: url("/static/assets/pagination_active.png");
}
nav {
    width: var(--menu-width);
    display: flex;
    transform-style: preserve-3d;
    justify-content: space-evenly;
    position: relative;
    z-index: 2;
    margin: 0px auto;
    perspective: 2000px;
    flex-wrap: wrap;
    height: 15vh;
    align-items: center;
}
nav .menu-item {
    color: var(--text) !important;
    font-weight: 600;
    transform-style: preserve-3d;
    flex-grow: 1;
    display: flex;
    flex-basis: var(--item-width);
    box-sizing: border-box;
    padding: 1em 1.5em;
    justify-content: center;
    perspective: 200px;
    letter-spacing: 0.5px;
    max-height: 5em;
    margin-bottom: 2.5em;
}

nav .menu-text img {
    max-width: 110% !important;
}
.menu-item .sub-menu {
    position: absolute;
    color: var(--text);
    border-radius: 10px;
    pointer-events: none;
    box-sizing: border-box;
    z-index: 999;
    margin-left: -5em;
    clip-path: inset(0 10em 10em 15em);
    opacity: 0;
    font-weight: initial;
    transition: all 0.25s ease-out, opacity 0.25s ease-in, margin-left 0.25s ease-out, clip-path 0.15s ease-out;
    background-color: transparent !important;
    left: 0em;
    width: max-content;
    top: 4em
}
.menu-item .sub-menu img {
    max-width: 25%;
}
#crea-menu {
    left: -9em;
}
.is-primary {
    background-color: var(--primary) !important;
}
.is-danger {
    background-color: var(--orange) !important;
}
.is-danger:hover {
    background-color: unset !important;
    color: var(--orange) !important;
}
.is-primary:hover {
    background-color: unset !important;
}
.menu-item:hover .sub-menu, .sub-menu:hover {
    pointer-events: all;
    clip-path: inset(0 0 0 0);
}
.menu-item:hover .sub-menu {
    opacity: 1;
    margin-left: 0;
}
@keyframes clipPath {
    0% {
        opacity: 0;
    }
    100% {
        transform: rotateX(0deg) scale(1);
        top: 4.5em;
        opacity: 1;
    }
}
.sub-menu img {

}
#navbar {
    margin-top: unset !important;
}
.is-outlined {
    border-color: var(--primary) !important;
}
.separator:not(i).visible {
    width: 25%;
    background-color: transparent;
    animation: 1.5s separator-lianne ease-in-out;
    content: url("/static/gif/raw/liane8.png");
    height: auto;
    position: absolute;
}
.separator:not(i).is-right.visible {
    margin-left: 75%;
    transform: rotate(180deg);
    content: url("/static/gif/raw/lierre7.png");
    animation: 1.5s separator-lierre ease-in-out;
}
.scrolling-section.is-section-1 .separator:not(i) {
    position: unset;
}
.select::after {
    border: none !important;
    content: url("/static/assets/fleche-select.png") !important;
    position: absolute !important;
    right: -2em !important;
    top: .5em !important;
    margin: 0 !important;
    transform: rotate(0deg) scale(.3) !important;
    height: .1em !important;
    width: auto !important;
}@keyframes separator-lianne {
    12.5% {
        content: url("/static/gif/raw/liane1.png");
    }
    25% {
        content: url("/static/gif/raw/liane2.png");
    }
    37.5% {
        content: url("/static/gif/raw/liane3.png");
    }
    50% {
        content: url("/static/gif/raw/liane4.png");
    }
    67.5% {
        content: url("/static/gif/raw/liane5.png");
    }
    80% {
        content: url("/static/gif/raw/liane6.png");
    }
    87.5% {
        content: url("/static/gif/raw/liane7.png");
    }
    100% {
        content: url("/static/gif/raw/liane8.png");
    }
}
@keyframes separator-lierre {
    12.5% {
        content: url("/static/gif/raw/lierre1.png");
    }
    25% {
        content: url("/static/gif/raw/lierre2.png");
    }
    37.5% {
        content: url("/static/gif/raw/lierre3.png");
    }
    50% {
        content: url("/static/gif/raw/lierre4.png");
    }
    67.5% {
        content: url("/static/gif/raw/lierre5.png");
    }
    80% {
        content: url("/static/gif/raw/lierre6.png");
    }
    87.5% {
        content: url("/static/gif/raw/lierre7.png");
    }
    100% {
        content: url("/static/gif/raw/lierre7.png");
    }
}
img.down {
    height: 10em !important;
}
.gif {
    height: 10em;
    left: 50%;
    transform: translate(-50%, 0);
    right: auto;
    position: absolute;
}
.gif.left {
    left: 15%;
    right: unset;
    position: absolute;
    z-index: -1;
}
.gif.right {
    right: 15%;
    left: unset;
    position: absolute;
    z-index: -1;
}
img#navlogo {
    content: url("gif/final/logo_cover.png");
    max-width: 110% !important;
    transition: .5s ease-in-out;
}
img#navlogo:hover {
    content: url("gif/final/Logo.gif");
}
.burger {
    display: none;
    margin: auto;
}
.arrow-down {
    height: 10em !important;
    position: absolute;
}
.arrow-down.right {
    right: 35%;
    bottom: 15%;
}
.arrow-down.left {
    left: 35%;
    bottom: 15%;
    transform: scaleX(-1);
}
@media (max-height: 1080px) {
    .content:not(.scrolling-section.is-section-1 .content) {
        margin: 10em auto auto;
    }
}
@media (max-height: 700px) {
    .gif {
        display: none;
    }
    .content {
        margin: 9em auto auto !important;
    }
    .arrow-down {
        display: none;
    }
    .separator:not(i) {
        width: 15%;
        margin: 0;
    }
}
@media (max-width: 1024px) {
    .arrow-down {
        display: none;
    }
    #page {
        overflow: hidden !important;
    }
    #scroll {
        overflow: hidden;
    }
    .pagination {
        left: 92%;
    }
    .pagination .dot {
        height: 16px;
        width: 16px;
    }
    #navbar {
        margin-top: 2em !important;
    }
    .menue {
        transition: 1.5s ease-in-out;
        display: block;
        overflow: hidden;
        height: 4em;
        width: 100vw;
        text-align: center;
    }
    .menue.active {
        height: max-content;
    }
    #page {
        max-width: 100%;
        max-height: 100%;
    }
    .is-1 {
    font-size: 2.30885345rem !important;
    }
    body {
        overflow-y: scroll !important;
        overflow-x: hidden; !important;
    }
    #copyright {
        top: -0.15em;
        height: 4em;
    }
    .menu-item:hover {
        animation: none !important;
    }
    .sub-menu {
        display: none !important;
    }
    #sub-menu-container {
        display: none !important;
    }
    .content {
        margin: auto !important;
    }
    .content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
        margin: auto !important;
        width: unset !important;
    }
    .scrolling-section {
        margin-left: auto !important;
        margin-right: auto !important;
        width: 80% !important;
        min-width: unset !important;
    }
    .scrolling-section.activated {
        display: flex !important;
        flex-direction: column;
        justify-content: center;
    }
    .scrolling-section div {
        max-width: 90% !important;
        margin: auto;
        text-align: center;
    }
    .scrolling-section div h1 {
        min-width: unset !important;
    }
    .scrolling-section:not(.first) h1 {
        font-size: 20px !important;
    }
    .scrolling-section.is-section-1 .content {
        margin-top: auto;
        margin-bottom: auto;
    }
    .scrolling-section.is-section-1 p {
        font-size: 1em !important;
    }
    .scrolling-section.first {
        margin-top: unset !important;
    }
    .gif:not(.down) {
        display: none !important;
    }
    #hello-img {
        display: none !important;
    }
    .burger {
        display: unset;
    }
    .burger #toggle {
        transform: scale(20);
        position: relative;
        opacity: 0;
    }
    .burger #burger {
        content: url("/static/assets/burger.png");
        transition: .5s ease-in-out;
        height: 4em;
    }
    #burger, #toggle {
        cursor: url("/static/assets/mini_mouse_activated.png") 10 3, default;
    }
    #toggle:checked ~ #burger {
        content: url("/static/assets/burger_active.png");
        height: 4em;
    }
    nav .menu-text img {
        max-width: 50% !important;
    }
    #navbar-logo {
        display: none;
    }
    .scrolling-section p {
        font-size: unset !important;
        margin-top: unset;
    }
    .subtitle.is-3 {
        font-size: 1.25rem !important;
    }
    .separator:not(i) {
        position: unset !important;
    }
}
@media (min-width: 2000px) {
    .separator:not(i) {
        width: 20% !important;
        background-color: transparent;
    }
}