{% extends "base.html" %}
{% block title %}Admin - Ajouter une carte{% endblock %}
{% block imports %}
<link rel="stylesheet" href="/static/card.css">
<link rel="stylesheet" href="/static/admin.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.css">
<script src="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.js"></script>
{% endblock %}
{% block content %}
<form style="margin: 5em auto;" action="/add-card" method="post" onsubmit="document.getElementById('fileInput').remove()">

    <div class="field is-horizontal">
        <div class="field-label"></div>
        <div class="field-body">
            <div class="field is-expanded">
                <div class="field has-addons">
                    <p class="control">
                        <a class="button is-static">
                            Titre :
                        </a>
                    </p>
                    <p class="control is-expanded">
                        <input class="input" name="title" type="text" placeholder="Petit coussin" required>
                    </p>
                </div>
                <p class="help">
                    <sup>i</sup> Titre de votre carte
                </p>
            </div>
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">Sous-titre</label>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <input class="input" name="subtitle" type="text" placeholder="Petit coussin fait à la machine..." required>
                </div>
            </div>
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">Contenu</label>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <textarea id="mde" name="content" class="textarea"
                              placeholder="Petit coussin représentant mon petit frère en bob fait à la machine à coudre, le tissu est violet car c'est sa couleur préférée..."></textarea>
                </div>
                <p class="help is-info">
                   <sup>i</sup> Mets y ta démarche artistique, le contexte...
                </p>
            </div>
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">Type de carte</label>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <div class="select">
                        <select name="type" required>
                            <option value="papier-bavard">Papier Bavard</option>
                            <option value="textiladdicte">Textiladdicte</option>
                            <option value="dessins">Dess(e)ins</option>
                            <option value="petites-douceurs">Petites Douceurs</option>
                            <option value="webondine">Webondine</option>
                            <option value="boite-a-tresors">Boîte à Trésors</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">Étiquettes</label>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <input class="input" name="tags" type="tags" placeholder="étiquette" value="tout,">
                </div>
            </div>
        </div>
    </div>

    <div class="file is-centered is-boxed has-name" style="margin: 2em" id="file-input">
        <label class="file-label">
            <input class="file-input" type="file" name="image" multiple id="fileInput">
            <span class="file-cta">
      <span class="file-icon">
        <i class="fas fa-upload"></i>
      </span>
      <span class="file-label">
        Images
      </span>
    </span>
            <span class="file-name" style="max-width: unset; text-align: center">
Pas d'images sélectionné
    </span>
        </label>
        <div class="image-previews">

        </div>
        <input type="text" style="display: none" id="filesPaths" name="files">
    </div>

    <div class="field is-horizontal">
        <div class="field-label">
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <button type="submit" class="button is-primary" disabled id="send">
                        Envoyer la carte&nbsp;<span id="status"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bulma-tagsinput@2.0.0/dist/js/bulma-tagsinput.min.js"></script>
<script>
    bulmaTagsinput.attach()
    let reader, image_reader, form, total_files, restant_files
    let filesPathsInput = document.getElementById('filesPaths')
    let status = document.getElementById('status')
    filesPathsInput.value = ''

    async function uploadFile(file) {
        form = new FormData()
        form.append('file', file)
        return fetch('/admin/upload', {
            method: 'POST',
            body: form
        }).then(response => {
            console.log('up')
            return response.text()
        })
    }

    function getBase64(file) {
        reader = new FileReader()
        reader.readAsDataURL(file)
        return reader
    }

    function showImageWhenLoaded(wait_for_reader, file) {
        if (wait_for_reader.result === null) {
            setTimeout(showImageWhenLoaded, 500, wait_for_reader, file)
        }
        else {
            preview.innerHTML += `<div class="preview"><img src="${wait_for_reader.result}"><p>${file.name}</p></div>`
        }
    }

    let fileInput = document.querySelector('#file-input input[type=file]')
    let fileNames = document.querySelector('#file-input .file-name')
    let preview = document.querySelector('.image-previews')

    fileInput.onchange = () => {
        if (fileInput.files.length > 0) {
            preview.innerHTML = ''
            fileNames.innerHTML = ''
            total_files = fileInput.files.length
            restant_files = 0
            status.innerText = `(traitement des images 0/${total_files})`
            Array.from(fileInput.files).forEach(file => {
                fileNames.innerHTML += `${file.name}, `.replaceAll('undefined', '')
                image_reader = getBase64(file)
                showImageWhenLoaded(image_reader, file)
                uploadFile(file).then((filePath) => {
                    filesPathsInput.value += `${filePath},`
                    restant_files += 1
                    status.innerText = ` (traitement des images ${restant_files}/${total_files})`
                    if (restant_files === total_files) {
                        document.getElementById('send').attributes.removeNamedItem('disabled')
                    }
                })
            })
        }
    }

    new EasyMDE({element: document.getElementById('mde')});

    setInterval(() => {
        document.querySelectorAll('.editor-preview').forEach(el => {
            if (el.classList.contains('content')) {

            } else {
                el.classList.add('content')
            }
        })
    })
</script>
<style>
    form {
        margin-top: 10em;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
    body {
        overflow-y: scroll !important;
    }
    .editor-preview.content {
        margin: unset !important;
        max-width: unset;
        text-align: unset;
        margin-top: 0;
        height: unset !important;
    }
</style>
{% endblock %}