{% extends "base.html" %}
{% block title %}Panneau Administrateur{% endblock %}
{% block imports %}

{% endblock %}
{% block content %}
<div style="display: flex; justify-content: center; width: 50%; margin: auto; margin-top: 7em;">
    <form class="box" action="/admin" method="post">
        <div class="field">
            <label class="label">Utilisateur:</label>
            <div class="control">
                <input class="input" name="name" type="text" placeholder="Jean Michel">
            </div>
        </div>

        <div class="field">
            <label class="label">Mot de passe:</label>
            <div class="control">
                <input class="input" name="password" type="password" placeholder="Jeanmichel25%">
            </div>
        </div>

        <button class="button is-primary">Sign in</button>
    </form></div>
{% endblock %}