<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/bulma.min.css">
    <script src="https://kit.fontawesome.com/628c8d2499.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css" type="text/css"/>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sora:wght@500&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ondine Camponovo, {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/card.css">
    <link rel="icon" href="/static/assets/favicon.png">
    <meta name="description" content="Salut je suis Ondine ! Une jeune artiste passionnée ! Viens me découvrir moi et mon univers.">
    <meta name="robots" content="index, follow">
    <meta name="keywords" content="ondine,camponovo,ondine camponovo,artiste,doubs,dessin,textile">
    <meta property="og:title" content="Ondine Camponovo Site Web" />
    <meta property="og:site_name" content="Ondine Camponovo Site Web" />
    <meta property="og:url" content="https://ondine.camponovo.art" />
    <meta property="og:description" content="Salut je suis Ondine ! Une jeune artiste passionnée ! Viens me découvrir moi et mon univers." />
    <meta property="og:image" content="https://ondine.camponovo.art/static/assets/opengraph.png" />
    <meta property="og:type" content="website" />
    <meta property="og:keywords" content="art,artist,artiste,ondine,camponovo" />
    <meta property="twitter:card" content="summary_large_image">
    <meta name="keywords" content="art,artist,artiste,ondine,camponovo" />
    <script defer data-domain="ondine.camponovo.art." src="https://analytics.camarm.fr/js/script.js"></script>
    <script defer data-domain="ondine.camponovo.art" src="https://analytics.camarm.fr/js/script.outbound-links.js"></script>
    <script defer data-domain="ondine.camponovo.art" src="https://analytics.camarm.fr/js/script.tagged-events.js"></script>
    {% block imports %}
    {% endblock %}
</head>
<body>
<div id="page">
    <nav id="menu" class="menue">
        <div class="burger">
            <input type="checkbox" name="toggle" id="toggle"/>
            <img id="burger" alt="Burger Navbar">
        </div>
        <div class="menu-item" id="navbar-logo">
            <div class="menu-text">
                <a href="/"><img alt="Logo Ondine" id="navlogo"></a>
            </div>
        </div>
        <div class="menu-item">
            <div class="menu-text" id="navbar">
                <a href="/"><img alt="Ondine Site" src="/static/assets/nav_way{% if href() == '/' or href() == '/more' %}active{% endif %}.png"></a>
            </div>

            <div class="sub-menu">
                <img id="way" src="/static/assets/way.png">
            </div>
        </div>
        <div class="menu-item">
            <div class="menu-text">
                <a href="/creations"><img alt="Ondine Site" src="/static/assets/creations_nav{% if href().startswith('/creations') or href().startswith('/card') %}active{% endif %}.png"></a>
            </div>
            <div class="sub-menu" id="crea-menu">
                <img id="creation" src="/static/assets/creations.png">
            </div>
        </div>
        <div class="menu-item">
            <div class="menu-text">
                <a href="/pro"><img alt="Ondine Site" src="/static/assets/pro_nav{% if href().startswith('/pro') %}active{% endif %}.png"></a>
            </div>
            <div class="sub-menu">
                <img id="pro" src="/static/assets/pro.png">
            </div>
        </div>
        <div class="menu-item">
            <div class="menu-text">
                <a href="/contact"><img alt="Ondine Site" src="/static/assets/contact{% if href().startswith('/contact') %}active{% endif %}.png"></a>
            </div>
            <div class="sub-menu">
<!--                <img src="/static/assets/contact.png">-->
            </div>
        </div>
    </nav>
    {% block content %}

    {% endblock %}
    <div id="copyright" title="Mentions Légales" onclick="window.open('/privacy')"></div>
</div>
{% block loader %}
{% endblock %}
<script>
    let way = document.getElementById('way'),
        creation = document.getElementById('creation'),
        pro = document.getElementById('pro'),
        toggle = document.getElementById('toggle'),
        menu = document.getElementById('menu'),
        way_zones = [{'from': {'x': 88.5, 'y': -0.5}, 'to': {'x': 143, 'y': 26}, 'url': '/more'}, {'from': {'x': 1, 'y': 40}, 'to': {'x': 232, 'y': 63}, 'url': '/?n=3'}],
        creation_zones = [{'from': {'x': 116, 'y': 20}, 'to': {'x': 219, 'y': 34}, 'url': '/creations?filters=webondine'}, {'from': {'x': 71, 'y': 44}, 'to': {'x': 190, 'y': 65}, 'url': '/creations?filters=textiladdicte'}, {'from': {'x': 17, 'y': 80}, 'to': {'x': 167, 'y': 98}, 'url': '/creations?filters=petites-douceurs'}, {'from': {'x': -117, 'y': 113}, 'to': {'x': -2, 'y': 128}, 'url': '/creations?filters=papier-bavard'}, {'from': {'x': -159, 'y': 75}, 'to': {'x': -76, 'y': 92}, 'url': '/creations?filters=dessins'}, {'from': {'x': -198, 'y': 17}, 'to': {'x': -78, 'y': 38}, 'url': '/creations?filters=boite-a-tresors'}],
        pro_zones = [{'from': {'x': 88, 'y': 60}, 'to': {'x': 164, 'y': 76}, 'url': '/pro#portfolio'}, {'from': {'x': 6, 'y': 30}, 'to': {'x': 39, 'y': 51}, 'url': '/pro#cv'}]
    let from_y, from_x, to_y, to_x, x, y
    way.addEventListener('click', (event) => {
        x = event.x - way.getBoundingClientRect().left
        y = event.y - way.getBoundingClientRect().top
        for (const wayZone of way_zones) {
            from_y = wayZone['from']['y']
            to_y = wayZone['to']['y']
            from_x = wayZone['from']['x']
            to_x = wayZone['to']['x']
            if (y >= from_y && y <= to_y && x >= from_x && x <= to_x) {
                location.href = wayZone['url']
            }
        }
    })
    pro.addEventListener('click', (event) => {
        x = event.x - pro.getBoundingClientRect().left
        y = event.y - pro.getBoundingClientRect().top
        console.log(x, y)
        for (const proZone of pro_zones) {
            from_y = proZone['from']['y']
            to_y = proZone['to']['y']
            from_x = proZone['from']['x']
            to_x = proZone['to']['x']
            if (y >= from_y && y <= to_y && x >= from_x && x <= to_x) {
                location.href = proZone['url']
            }
        }
    })
    creation.addEventListener('click', (event) => {
        x = event.x - pro.getBoundingClientRect().left
        y = event.y - pro.getBoundingClientRect().top
        for (const creationZone of creation_zones) {
            from_y = creationZone['from']['y']
            to_y = creationZone['to']['y']
            from_x = creationZone['from']['x']
            to_x = creationZone['to']['x']
            if (y >= from_y && y <= to_y && x >= from_x && x <= to_x) {
                location.href = creationZone['url']
            }
        }
    })
    toggle.addEventListener('click', (event) => {
        console.log(toggle)
        if (toggle.checked) {
            menu.classList.add('active')
        } else {
            menu.classList.remove('active')
        }
    })
</script>
</body>
</html>