{% extends "base.html" %}
{% block title %}Créations{% endblock %}
{% block imports %}
<link rel="stylesheet" href="/static/cards.css">
{% endblock %}
{% block content %}
<style>
    :root {
        --primary: var(--purple) !important;
        --secondary: #400146 !important;
    }
</style>
<div class="creations-page">
    <div class="information">
        <div class="filters">
            <p class="add-filter" onclick="addFilterModal()">Ajouter un filtre&nbsp;&nbsp;+
            </p>
            <div class="active-filters">
                {% for filter in filters %}
                <div class="tag">{{filter}}</div>
                {% endfor %}
                {% if search is not none and search != '' %}
                <div class="tag">recherche:{{search}}</div>
                {% endif %}
            </div>
            <p class="remove" onclick="location.href = baseurl">Réinitialiser les filtres</p>
        </div>
        <div class="page-infos">
            <p>
            </p>
        </div>
    </div>

    <div class="creations">
        <div class="search">
            <p class="control has-icons-right">
                <input class="input" type="text" placeholder="Recherche" id="search">
                <button class="button" onclick="location.href = baseurl + '?filters=' + filters.join(',') + '&search=' + document.getElementById('search').value">Rechercher</button>
            </p>
        </div>
        <div class="cards">
            {% for creation in creations %}
            <div class="card" onclick="location.href = '{{creation.baseurl}}{{creation._id}}'" itemscope itemtype="https://schema.org/CreativeWork">
                <div class="header">
                    <img itemprop="image" src="{{creation.image[0]}}">
                </div>
                {% if creation.tags|length > 0 %}
                <div class="active-filters" itemprop="keywords">
                    {% for tag in creation.tags %}
                    <div class="tag">{{tag}}</div>
                    {% endfor %}
                    <p class="date">{{creation.date}}</p>
                </div>
                {% endif %}
                <div class="content">
                    <h1 class="title is-3" itemprop="name">{{creation.title}}</h1>
                    <p itemprop="description">{{creation.subtitle}}</p>
                </div>
                <span style="display: none" itemtype="author">Ondine Camponovo</span>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="modal" id="addFilterModal">
    <div class="modal-background"></div>
    <div class="modal-content filters-input">
        <div class="select">
            <select id="addFilterInput">
                {% for tag in avaiblesTags() %}
                <option>{{tag.name}}</option>
                {% endfor %}
            </select>
        </div>
        <button class="button is-primary" onclick="addFilter(document.getElementById('addFilterInput').value)">Ajouter le filtre de recherche</button>
    </div>
    <div class="quit-cross" onclick="this.parentElement.classList.remove('is-active')">
        <img class="cross" alt="Ondine Dessin Croix" src="/static/assets/boutons/croix-fermer.png">
    </div>
</div>
<script>
    let href;
    var filters = {{filters|safe}};
    const baseurl = location.pathname
    const parseQueryString = function() {

        var str = window.location.search;
        var objURL = {};

        str.replace(
            new RegExp( "([^?=&]+)(=([^&]*))?", "g" ),
            function( $0, $1, $2, $3 ){
                objURL[ $1 ] = $3;
            }
        );
        return objURL;
    };
    function addFilter(filter) {
        filters.push(filter)
        href = baseurl + '?filters=' + filters.join(',') + '&search=' + parseQueryString()['search']
        location.href = href.replaceAll('&search=undefined', '')
    }
    function addFilterModal() {
        document.getElementById('addFilterModal').classList.add('is-active')
    }
    function search(query) {

    }
</script>

{% endblock %}