{% extends "base.html" %}
{% block title %}Créations{% endblock %}
{% block content %}
<style>
    :root {
        --primary: var(--purple) !important;
        --secondary: #400146 !important;
    }
</style>
<div class="content card-title" style="text-align: center; height: unset; margin: unset">
    <h1 class="crea-title">{{crea.title}}</h1>
    <h3>{{crea.subtitle}}</h3>
</div>

<div class="reader" itemscope itemtype="https://schema.org/CreativeWork">
    <div class="images">
        <div class="carousel">
            <div class="up" onclick="upImage()">
                <img alt="Ondine Dessin Flèche" src="/static/assets/fleche-haut.png">
            </div>
            <div class="previews">
                {% for image in crea.image %}
                <img itemprop="image" alt="Ondine Création" src="https://ondine.camponovo.art{{image}}">
                {% endfor %}
            </div>
            <div class="down" onclick="downImage()">
                <img alt="Ondine Dessin Flèche" src="/static/assets/fleche-bas.png">
            </div>
        </div>
        <div class="view">
            <img itemprop="thumbnailUrl" alt="Ondine Site Création" class="image-viewing" src="{{crea.image[0]}}" onclick="window.open(this.src)">
        </div>
    </div>
    <div class="text content" id="mdc" itemprop="about">
        {{crea.content|safe}}
    </div>
    <div class="quit-cross">
        <img class="cross" alt="Ondine Dessin Croix" src="/static/assets/boutons/croix-fermer.png" onclick="window.history.back()">
    </div>
    <span style="display: none" itemtype="author">Ondine Camponovo</span>
    <span style="display: none" itemtype="name">{{crea.title}}</span>
    <span style="display: none" itemtype="description">{{crea.subtitle}}</span>
</div>
<style>
    .content {
        margin-bottom: 1% !important;
        max-width: unset;
        margin-top: 0;
        height: 4%;
    }
    @media (max-width: 1024px) {
        #copyright {
            bottom: unset;
            top: .1em;
            left: .5em;
            font-size: 1em;
        }
    }
</style>
<script>
    let currentPath, currentElement, index, currentCarouselElement;
    let parentElement = document.querySelector('.previews')
    const prev = document.querySelector('.image-viewing')
    let carousel_imgs = document.querySelectorAll('.previews img')
    carousel_imgs.forEach(el => {
        el.addEventListener('click', () => {
            prev.setAttribute('src', el.src)
            carousel_imgs.forEach(el => {
                el.style = ''
            })
            el.style = 'opacity: 100%'
        })
    })
    function getCurrentImageHTMLObject() {
        currentPath = prev.src
        Array.from(document.querySelectorAll('.previews img')).forEach(el => {
            if (el.src === currentPath) {
                currentElement = el
                return el
            }
        })
        return currentElement

    }
    function getIndexOfCurrentElement() {
        currentElement = getCurrentImageHTMLObject()
        index = Array.prototype.indexOf.call(parentElement.children, currentElement)
        return index
    }
    function upImage() {
        index = getIndexOfCurrentElement()
        index -= 1
        currentCarouselElement = parentElement.children[index]
        prev.src = currentCarouselElement.src
        carousel_imgs.forEach(el => {
            el.style = ''
        })
        currentCarouselElement.style = 'opacity: 100%'
    }
    function downImage() {
        index = getIndexOfCurrentElement()
        index += 1
        currentCarouselElement = parentElement.children[index]
        prev.src = currentCarouselElement.src
        carousel_imgs.forEach(el => {
            el.style = ''
        })
        currentCarouselElement.style = 'opacity: 100%'
    }
</script>
{% endblock %}