{% extends "base.html" %}
{% block title %}Contact{% endblock %}
{% block imports %}
<link rel="stylesheet" href="/static/section.css">
<link rel="stylesheet" href="/static/contact.css">
{% endblock %}
{% block content %}
<section class="section">
    <h3 class="title is-3">Une question ? Un souhait ?</h3>
    <h3 class="subtitle is-3">Contacte-moi à cette adresse : <a href="mailto:ondine@camponovo.art?subject=Hello Ondine !&body=J'ai vu ton site...">ondine@camponovo.art</a></h3>
</section>
<section class="section">
    <h3 class="title is-4">Ou écrit moi un mail :</h3>
    <form action="/send-mail" method="post">
        <div class="credentials">
            <div class="mail">
                <input class="input" type="email" name="email" placeholder="jean.baptiste@email.com" required>
            </div>
            <div class="name">
                <input class="input" type="text" name="name" placeholder="Jean Baptiste" required>
            </div>
        </div>
        <div class="message">
            <div class="subject">
                <input class="input" type="text" name="subject" placeholder="Hello Ondine !" required>
            </div>
            <div class="content">
                <textarea class="textarea" name="content" placeholder="J'ai vu ton site..." required></textarea>
            </div>
        </div>
        <div class="send">
            <button class="button" type="button" onclick="showCaptcha()">Envoyer</button>
        </div>
        <div class="modal" id="iamnotarobot">
            <div class="modal-background"></div>
            <div class="modal-content">
                <div class="message robot">
                    <div class="subject">
                        <h2 class="title is-2">Je ne suis pas un robot</h2>
                        <h3 class="subtitle">Réécrivez le contenu de l'image si-dessous:</h3>
                    </div>
                    <div class="content">
                        <span class="captcha">
                            <img id="cimg">
                        </span>
                        <input class="input" name="code" placeholder="8wjRl" required>
                        <input class="input" id="ctoken" name="token" style="display: none" required>
                    </div>
                    <div class="send">
                        <button class="button" type="submit">Envoyer</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
<script>
    let tokenInput = document.getElementById('ctoken')
    let captchaImage = document.getElementById('cimg')
    let notARobotModal = document.getElementById('iamnotarobot')


    function showCaptcha() {
        notARobotModal.classList.toggle('is-active')
        fetch('/get-captcha')
            .then( resp => { return resp.json() })
            .then(captcha => {
                console.log(captcha)
                tokenInput.value = captcha['token']
                captchaImage.src = captcha['image']
            })
    }
</script>
{% endblock %}