{% extends "base.html" %}
{% block title %}Erreur{% endblock %}
{% block imports %}
{% endblock %}
{% block content %}
<div class="content" style="height: 80%; margin-top: auto; margin-bottom: auto">
    <h1 class="title is-1">Oups ! Il y a rien ici !</h1>
    <img style="width: 25%" alt="Ondine Dessin" src="{{page[0]}}">
    <p>{{page[1]}}</p>
    <span class="hover">Plus d'infos</span>
    <p class="invisible-hovered"><br>Une erreur est survenue avec le serveur:<br>{{error}}</p>
</div>
{% endblock %}