{% extends "base.html" %}
{% block title %}Accueil{% endblock %}
{% block imports %}
<link rel="stylesheet" href="/static/scroll.css" type="text/css"/>
{% endblock %}
{% block content %}
<div style="display: none" itemscope itemtype="https://schema.org/artist">
    <span itemprop="givenName">Ondine</span>
    <span itemprop="familyName">Camponovo</span>
    <span itemprop="email">ondine@camponovo.art</span>
    <img itemprop="image" src="/static/assets/favicon.png" alt="Ondine Logo">
</div>
<div class="preload">
    <img src="/static/gif/raw/liane1.png">
    <img src="/static/gif/raw/liane2.png">
    <img src="/static/gif/raw/liane3.png">
    <img src="/static/gif/raw/liane4.png">
    <img src="/static/gif/raw/liane5.png">
    <img src="/static/gif/raw/liane6.png">
    <img src="/static/gif/raw/liane7.png">
    <img src="/static/gif/raw/liane8.png">
    <img src="/static/gif/raw/lierre1.png">
    <img src="/static/gif/raw/lierre2.png">
    <img src="/static/gif/raw/lierre3.png">
    <img src="/static/gif/raw/lierre4.png">
    <img src="/static/gif/raw/lierre5.png">
    <img src="/static/gif/raw/lierre6.png">
    <img src="/static/gif/raw/lierre7.png">
</div>
<div id="scroll">
    <section class="hero first scrolling-section activated">
        <div style="display: flex; flex-direction: column; justify-content: center; align-items: center">
            <h1 class="title is-1" style="min-width: max-content;">
                Salut, je suis Ondine
            </h1>
            <h2 class="subtitle is-3" style="width: max-content;">
                Une jeune artiste passionnée
            </h2>
            <br>
            <img alt="Ondine Gif Visage" id="hello-img" class="down" src="/static/gif/final/1.gif">
            <img onclick="moveScroll('down')" alt="Ondine Gif Flèche" class="down" src="/static/gif/final/fleche.gif">
        </div>
    </section>
    <div class="scrolling-section unactivated" id="first">
        <div class="content">
            <h1 class="title is-3">J’ai toujours eu une imagination débordante</h1>
            <p>qui fait fleurir ma créativité.</p>
        </div>
        <img alt="Ondine Gif Inspiration" class="gif" src="/static/gif/final/2.gif">
        <hr class="separator">
        <div class="content">
            <h1 class="title is-3">Je suis une touche-à-tout, ainsi j’expérimente différentes techniques et
                matières</h1>
            <p>et ces derniers temps je me tourne plus spontanément vers le textile.</p>
        </div>
        <img alt="Ondine Gif Mains" class="gif" src="/static/gif/final/3.gif">
        <hr class="separator is-right">
        <img alt="Ondine Dessin Flèche" src="/static/gif/final/fleche.png" class="arrow-down right" onclick="moveScroll('down')">
    </div>
    <div class="scrolling-section unactivated is-section-1">
        <div class="content">
            <h1 class="title is-3">Mon parcours t’intéresse ?</h1>
            <p>Si oui, je t’invite à continuer ton exploration !</p>
        </div>
        <img alt="Ondine Gif Bisous" src="/static/gif/final/4.gif" class="gif right">
        <p class="has-text-centered">
            <a onclick="moveScroll('down')">
                <img alt="Ondine Gif Flèche" class="btn-img" src="/static/assets/boutons/exploration.png">
            </a>
        </p>
    </div>
    <div class="scrolling-section unactivated is-section-1">
        <div class="content">
            <h1 class="title is-3">J’ai vu le jour à Antony, une commune des Hauts-de-Seine (92), le 12 octobre
                2004</h1>
            <p>J’ai dès lors habité avec mes parents à Massy, dans l’Essonne (91).</p>
        </div>
        <img alt="Ondine Dessin Anthony" src="/static/gif/raw/5.png" class="gif left">
        <hr class="separator">
        <img alt="Ondine Dessin Flèche" src="/static/gif/final/fleche.png" class="arrow-down left" onclick="moveScroll('down')">
    </div>
    <div class="scrolling-section unactivated">
        <div class="content">
            <h1 class="title is-3">En 2006 nous avons déménagé en Franche-Comté, plus précisément dans le Doubs
                (25)</h1>
            <p>et je suis devenue une Bartoise puis une Allenjoyeuse !</p>
        </div>
        <img alt="Ondine Dessin Doubs" class="gif" src="/static/gif/raw/6.png">
        <hr class="separator">
        <div class="content">
            <h1 class="title is-3">L’école des Trois Fontaines de Dambenois m’a accueillie de la maternelle jusqu’au
                CM1</h1>
            <p>et c’est à l’âge de 8 ans que je débute les cours de dessin chez <a target="_blank" href="https://www.elisepoinsenot.com/">Élise Poinsenot</a>.</p>
        </div>
        <img alt="Ondine Dessin Crayon" class="gif" src="/static/gif/raw/7.png">
        <hr class="separator is-right">
        <img alt="Ondine Dessin Flèche" src="/static/gif/final/fleche.png" class="arrow-down left" onclick="moveScroll('down')">
    </div>
    <div class="scrolling-section unactivated">
        <div class="content">
            <h1 class="title is-3">Malgré mon fort attachement à ce village d’enfance, nous nous installons en 2014 à
                Vercel-Villedieu-le-Camp</h1>
            <p>et je termine ma primaire à l’école publique Louis Pergaud.</p>
        </div>
        <img alt="Ondine Dessin Déménagement" class="gif" src="/static/gif/raw/8.png">
        <hr class="separator is-right">
        <div class="content">
            <h1 class="title is-3">Je ne stoppe pas pour autant mon apprentissage artistique</h1>
            <p>c’est <a target="_blank" href="https://watteau-benedicte.fr/">Bénédicte Watteau</a> dans son atelier à Valdahon qui me prendra sous son aile encore 5 années durant
                !</p>
        </div>
        <img alt="Ondine Dessin Palette" class="gif" src="/static/gif/raw/9.png">
        <hr class="separator">
        <img alt="Ondine Dessin Flèche" src="/static/gif/final/fleche.png" class="arrow-down right" onclick="moveScroll('down')">
    </div>
    <div class="scrolling-section unactivated">
        <div class="content">
            <h1 class="title is-3">Je quitte le collège privé du Sacré-Cœur de Vercel-Villedieu-le-Camp en 2019</h1>
            <p>où j’ai étudié de la sixième à la troisième, tout en faisant mes cartons une nouvelle fois pour atterrir
                à Étalans.</p>
        </div>
        <img alt="Ondine Dessin Carton" class="gif" src="/static/gif/raw/10.png">
        <hr class="separator">
        <div class="content">
            <h1 class="title is-3">En effet, je suis acceptée en arts appliqués au lycée Louis Pasteur de
                Besançon</h1>
            <p>une filière technologique unique dans le département.</p>
        </div>
        <img alt="Ondine Dessin Autoportrait" class="gif" src="/static/gif/raw/11.png">
        <hr class="separator is-right">
        <img alt="Ondine Dessin Flèche" src="/static/gif/final/fleche.png" class="arrow-down left" onclick="moveScroll('down')">
    </div>
    <div class="scrolling-section unactivated is-section-1">
        <div class="content">
            <h1 class="title is-3">J’y suis toujours, et maintenant en terminale bien entendu !</h1>
            <p>Aujourd’hui je construis mon projet d’avenir afin de poursuivre ma voie, en suivant ma voix.</p>
        </div>
        <img alt="Ondine Dessin Étonnée" class="gif right" src="/static/gif/raw/12.png">
        <p class="has-text-centered" style="margin-bottom: 5em;">
            <a onclick="location.href = '/more'">
                <img class="btn-img" alt="Ondine Faisons Plus Ample Connaissance" src="/static/assets/boutons/faisons-plus-ample-connaissance.png">
            </a>
        </p>
    </div>
</div>

<div class="pagination">
    <div class="dot is-active"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
</div>

<style>
    #page {
        overflow: hidden !important;
    }
</style>

<div class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-content" style="display: flex; justify-content: center;">

    </div>
</div>
<script>
    setTimeout(() => {
        document.querySelector('.modal').setAttribute('class', 'modal')
    }, 100)

    const observer = new IntersectionObserver(entries => {
        entries.forEach(entry => {
            if (entry.isIntersecting) {
                // It's visible. Add the animation class here!
                entry.target.classList.add('visible');
            } else {
                entry.target.classList.remove('visible');
            }
        });
    });
    document.querySelectorAll('h1, .separator').forEach(el => {
        observer.observe(el);
    })
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/static/js/browserSwipe.js"></script>
<script src="/static/js/touchswipe.js"></script>

<script>
    let i;
    var $body = $('html, body'),
        actualSection = 0,
        totalSections = 8,
        speed = 500,
        isScrolling = false,
        scrollingTimer,
        clicking = false,
        friction = 100,
        startY;

    $('body').swipe({
        swipe: function (event, direction) {
            if (direction === 'up') {
                moveScroll('down');
            } else if (direction === 'down') {
                moveScroll('up');
            }
        }
    });
    $('body, a, iframe').on('touchmove', function (e) {
        e.stopPropagation();
        e.preventDefault();
    });
    $('a, iframe').on('mouseenter', function (e) {
        e.stopPropagation();
        e.preventDefault();
    });
    $.browserSwipe({
        up: function () {
            moveScroll('up');
        },
        down: function () {
            moveScroll('down');
        }
    });

    function classModifier(time, el) {
        if (time === 'before') {
            el.classList.remove('activated')
            el.classList.add('unactivated')
        } else {
            el.classList.remove('unactivated')
            el.classList.add('activated')
        }
        document.querySelector('.dot.is-active').classList.remove('is-active')
        document.querySelector('.pagination').children[actualSection].classList.add('is-active')
    }

    var moveScroll = function (dir) {

        if ($body.is(':animated') === false) {
            isScrolling = true;
            clearTimeout(scrollingTimer);

            if (dir === 'up') {
                classModifier('before', Array.from(document.querySelector('#scroll').children)[actualSection])
                actualSection = actualSection <= 0 ? 0 : actualSection - 1;
                classModifier('after', Array.from(document.querySelector('#scroll').children)[actualSection])
            } else if (dir === 'down') {
               classModifier('before', Array.from(document.querySelector('#scroll').children)[actualSection])
                actualSection = actualSection >= totalSections - 1 ? totalSections - 1 : actualSection + 1;
               classModifier('after', Array.from(document.querySelector('#scroll').children)[actualSection])
            }

            // $('#scroll').css({transform: 'translateY(-' + actualSection * $(window).height() + 'px)'}, speed);

            scrollingTimer = setTimeout(function () {
                isScrolling = false;
                clicking = false;
            }, speed + 10);
        }
    }
    let params = new URLSearchParams(location.search)
    if (params.get('msg')) {
        alert(params.get('msg'))
        window.location = '/'
    }
    let n = parseInt(params.get("n")) - 1
    for (i = 0; i < n; i++) {
        moveScroll('down')
    }
    document.querySelectorAll('.pagination .dot').forEach(el => {
        el.addEventListener('click', () => {
            location.href = '/?n=' + (Array.prototype.indexOf.call(el.parentNode.children, el) + 1)
        })
    })
</script>

{% endblock %}