{% extends "base.html" %}
{% block title %}Faisons plus ample connaissance{% endblock %}
{% block imports %}
<link rel="stylesheet" href="/static/scroll.css" type="text/css"/>
<link rel="stylesheet" href="/static/more.css" type="text/css"/>
{% endblock %}
{% block content %}

<div id="scroll">
    <section class="hero first scrolling-section activated">
        <div style="display: flex; flex-direction: column; justify-content: center; align-items: center">
            <h4 class="title is-3 title-first" style="min-width: max-content;">
                Cher visiteur, si tu es arrivé jusqu’ici c’est sans doute pour te renseigner davantage sur mes expériences et ce qui
                m’anime
            </h4>
            <img alt="Ondine Introduction Faisons Plus Ample Connaissance" class="gif left" src="/static/gif/more/introduction.png">
            <h2 class="subtitle is-5" style="width: max-content;">
                alors je te laisse parcourir ces lignes classées par thématiques : à tout de suite !
            </h2>
            <br>
            <img onclick="moveScroll('down')" alt="Ondine Gif Fleche" class="down" src="/static/gif/final/fleche.gif">
        </div>
    </section>
    <div class="scrolling-section unactivated is-section-1" id="first">
        <div class="content">
            <h1 class="title is-3">ENGAGEMENTS ET STAGES 1/2</h1>
            <p>
                Tout d’abord, je suis déléguée de classe depuis la sixième : tu t’en doutes, si je réitère ma candidature chaque
                année c’est que cette mission me tient à cœur ! J’aime organiser des événements, être au courant des projets,
                prendre la parole, écouter et aider mes camarades. Je me sens utile et épanouie dans ce rôle !<br>
                J’ai eu l’opportunité de réaliser mon stage de troisième au Musée de Beaux-Arts et d’Archéologie de Besançon. Le
                souvenir le plus cher que j’en conserve est le moment où l'on m’a ouvert les portes des réserves : la proximité intime
                avec les œuvres m’a bouleversée !<br>
                Quant à mes activités extra-scolaires, outre le sport que j’évoque plus bas, j’ai participé à deux stages théâtre au
                sein de la compagnie <a target="_blank" href="http://www.compagnie-bacchus.org/">Bacchus</a>. Ces semaines intenses, rythmées par la composition des pièces, l’apprentissage des
                textes, la mise en scène et le choix des costumes m’ont à chaque fois comblées. Les représentations finales m’ont
                permis d’apprendre à gérer le trac. En tout cas, à chaque fois je suis rentrée à la maison avec la voix
                complétement transformée tellement j’avais fait prendre corps à mon personnage !<br>
            </p>
            <img alt="Ondine Engagements" class="illustration right" illustration="engagements">
            <a class="read-more">Lire plus</a>
        </div>
        <hr class="separator">
    </div>
    <div class="scrolling-section unactivated is-section-1">
        <div class="content">
            <h1 class="title is-3">ENGAGEMENTS ET STAGES 2/2</h1>
            <img alt="Ondine Engagements" class="illustration top left" illustration="engagements">
            <p>
                J’ai également mis les mains dans la terre et tâté le tour à poterie un matin chez <a target="_blank" href="https://katia-chiotti-atelier-terres.business.site/">Katia Chiotti</a>, au cœur du vieux
                Fréjus. Cette première approche avec le tour m’a beaucoup plu, même si les premiers essais sont pleins de surprises
                ! J’ai expérimenté le fait que nos émotions modèlent concrètement la matière, se traduisent dans la forme, la
                couleur, le bruit.<br>
                J’ai passé dernièrement une courte semaine chez <a target="_blank" href="https://www.ptitpiou.com/">Pierrette Gauthier</a>, couturière autodidacte, qui m’a nourrie à
                beaucoup d’égards, et cette rencontre, notamment avec son amie <a target="_blank" href="http://www.vidjinn.net/">Viviane Vidjinn</a>, a renforcée mon envie de travailler
                dans l’univers des tissus. Les broderies de cette dernière m’ont considérablement touchée et inspirée car elles
                recèlent une expressivité et une puissance de vie saisissantes.<br>
            </p>
            <a class="read-more">Lire plus</a>
        </div>
        <hr class="separator">
    </div>
    <div class="scrolling-section unactivated is-section-1">
        <div class="content">
            <h1 class="title is-3">VOYAGES, VISITES</h1>
            <img alt="Ondine Voyages, Visites" class="illustration top right" illustration="voyages">
            <p>
                Grâce à l’école j’ai eu l’occasion de partir en voyages un grand nombre fois : Croisic, stage voile en Suisse,
                Angleterre, Italie ou encore cyclo-rando de 9 jours de Besançon (25) à Vézelay (89) !<br>
                D’autre part, mes parents et grands-parents nous ont souvent baladés mon frère et moi : je ne compte plus nos
                promenades, ni nos visites de musées ou d’expositions et je me souviens avec bonheur de nos séjours à Venise, en
                Suède et ailleurs en France. Du reste, je suis pleinement consciente que cette ouverture culturelle qui m’est
                offerte est une aubaine incommensurable et je suis emplie de gratitude.<br>
            </p>
            <img alt="Ondine Voyages, Visites" class="illustration left" illustration="voyages">
            <a class="read-more">Lire plus</a>
        </div>
        <hr class="separator">
    </div>
    <div class="scrolling-section unactivated is-section-1">
        <div class="content">
            <h1 class="title is-3">SPORT</h1>
            <img alt="Ondine Sport" class="illustration top left" illustration="sport">
            <p>
                J’ai enchainé les clubs d’équitation, de badminton, de rollers, de yoga et cela fait 4 ans que je pratique l’escalade en
                famille. Le weekend, je fais de temps en temps des sorties VTT, c’est une activité physique avec laquelle je suis à
                l’aise. Courir me fait également beaucoup de bien, et j’ai même terminé sur le podium du cross du collège à deux
                reprises !<br>
                Aventurière, je grimpais dans les sapins de mon grand jardin à Allenjoie, plus tard rejointe par Armand, mon frère
                cadet de 4 ans. C’est d’ailleurs perchée là-haut que j’ai véritablement commencé à écrire, j’en parle juste après !<br>
            </p>
            <img alt="Ondine Sport" class="illustration right" illustration="sport">
            <a class="read-more">Lire plus</a>
        </div>
        <hr class="separator">
    </div>
    <div class="scrolling-section unactivated is-section-1">
        <div class="content">
            <h1 class="title is-3">INSPIRATION</h1>
            <p>
                Selon moi, ce n’est pas évident de définir précisément ce qui nourrit notre travail parce qu’il est justement la
                synthèse de notre être tout entier, lui-même déjà composé de bien plus de choses que l’on ne pense ! Ma bibliothèque
                est garnie de nombreux bouquins proposant des méthodes pas à pas pour réaliser un objet, néanmoins je suis tellement
                plus satisfaite quand je ne suis que mes envies !<br>
                En tout cas, je m’engage à prendre le temps d’ajouter dans mes articles mes sources quand je les connais et de
                mentionner les auteurs des supports sur lesquels je me suis basée pour créer. D’ailleurs, sache que ce site
                représente un défi pour moi, dans la mesure où je suis assez possessive à l’égard de mes productions, bien que je
                sois convaincue qu’il faille partager ! C’est pourquoi, si jamais tu utilises l’une de mes créations pour quoi que
                ce soit, je te serais reconnaissante de ne pas m’oublier dans tes sources, merci ! J’en profite pour te rappeler que
                si je n’approvisionne pas ce site régulièrement, c’est pour des raisons évidentes d’impératifs, liés aux études
                entre autres. Il en est de même si tu me contactes : normalement je réponds rapidement, toutefois il arrive comme
                tout le monde que mes semaines soient bien chargées : je te remercie de ta compréhension !<br>
            </p>
            <img alt="Ondine Inspiration" class="illustration right is-margin-reduce" illustration="inspiration">
            <a class="read-more">Lire plus</a>
        </div>
        <hr class="separator">
    </div>
    <div class="scrolling-section unactivated is-section-1">
        <div class="content">
            <h1 class="title is-3">ÉCRITURE</h1>
            <img alt="Ondine Inspiration" class="illustration top left" illustration="écriture">
            <p>
                À 10 ans je me voyais déjà pluridisciplinaire : je voulais devenir peintre, garde forestière et écrivaine. Au final
                cela n’a pas trop changé ! Je ne pourrais pas te dire quand j’ai composé mes premières histoires tout simplement car
                je n’en sais rien, en tout cas les exercices d’écriture m’ont toujours épanouie. Dès qu’un auteur venait en classe
                je lui présentais mes textes à la récréation et on m’a à chaque fois encouragée. D’ailleurs je continue d'échanger
                avec Philippe Godard, qui a animé des ateliers lorsque j’étais en seconde.<br>
                Autrement, j’ai enfin réussi a libéré les mots dans un carnet qui est devenu un allié. Je suis fière de pouvoir me
                lâcher entre les pages de cet endroit intime parce que j’ai vraiment du mal à accepter ma spontanéité : ahhh le
                calvaire des perfectionnistes...<br>
            </p>
            <a class="read-more">Lire plus</a>
        </div>
        <hr class="separator">
    </div>
    <div class="scrolling-section unactivated is-section-1">
        <div class="content">
            <h1 class="title is-3">ART</h1>
            <img alt="Ondine Art" class="illustration top right" illustration="art">
            <p>
                Dès que j’ai su tenir un crayon, j’ai noyé mes parents sous les dessins et depuis ce jour tous les murs de la maison
                sont ma galerie d’exposition ! En maternelle j’ai été inscrite à un groupe de musique, puis, comme tu le sais déjà,
                j’ai cumulé 7 ans de cours d’art plastique avant d’atterrir en STD2A au lycée Louis Pasteur. À 12 ans j’ai reçu pour
                Noël une imprimante 3D, qui me suit toujours et grâce à laquelle j’ai amélioré mes compétences en informatique.
                Dernièrement, pour me féliciter pour mon bac de français, mes parents ont participé à l’acquisition d’une machine à
                coudre ! C’est amusant cet attrait que j’ai pour le textile quand on sait que mon arrière-grand-mère paternelle
                était couturière. J’ai le sentiment que tout me captive, c’est ainsi que je me retrouve à tester et à accumuler
                fournitures et outils. Tu peux consulter dans la rubrique « <a href="/creations" target="_blank">créations</a> » du menu un éventail des matières que j’ai
                apprivoisées, ou pas encore !<br>
            </p>
            <img alt="Ondine Art" class="illustration left" illustration="art">
            <a class="read-more">Lire plus</a>
        </div>
        <hr class="separator">
    </div>
    <div class="scrolling-section unactivated is-section-1">
        <div class="content">
            <h1 class="title is-3">ÉCOLOGISME</h1>
            <img alt="Ondine Écologisme" class="illustration top right" illustration="écologisme">
            <img alt="Ondine Écologisme" class="illustration top left" illustration="écologisme">
            <p>
                Pendant plusieurs années, je me suis occupée avec tendresse de nos poules et coqs, et j’ai de la sorte développé
                un grand amour pour eux, et plus globalement pour la nature. Je pouvais passer des heures à jouer avec les
                escargots à qui j’attribuais un prénom, et j’essayais patiemment de nouer une relation avec les tourterelles.<br>
                Par la suite, j’ai eu un aquarium dans lequel se sont hélas succédé les poissons et à l’heure qu’il est nous
                sommes attachés à Orion, un grand chat sauvageon que nous avons adopté en arrivant à Étalans.<br>
                Pendant le confinement, je me suis intéressée aux plantes et j’ai réalisé mes première boutures, de manière plus
                ou moins concluante ! J’aime prendre soin d’elles, les observer se développer et apprendre à connaitre leurs
                besoins et leur rythme.<br>
                Tous les jours, je suis attentive à mon mode de vie et de consommation. Petit à petit je remplace les objets et
                les produits que j’utilise par des alternatives meilleures pour la santé des êtres vivants, pour
                l’environnement, pour tout et tous en fait.<br>
            </p>
            <a class="read-more">Lire plus</a>
        </div>
        <hr class="separator">
    </div>
    <div class="scrolling-section unactivated is-section-1">
        <div class="content">
            <h1 class="title is-3">FÉMINISME</h1>
            <p>
                Bébé on me prenait pour un garçon parce que mes bodies étaient bleus ; j’ai grandi, et vu que je n’ai pas peur
                de me salir et que, même si je suis l’ainée, je joue avec mon frère et mes cousins, on me qualifie parfois de
                garçon manqué ; et je peux te dire que cela ne s’est pas arrangé quand je me suis coupée les cheveux en
                troisième ! Si j’ai pu dire le premier jour de mes règles « j’aurais voulu être un gars ! », je suis heureuse
                d’être une femme. Après une période difficile, j’ai repris du poil de la bête et j’ai décidé de davantage me
                connecter avec mon corps, notamment par le biais de la méditation. Quand je dis du poil, c’est au sens figuré
                comme au sens propre ! Car oui la pilosité, même chez une girl, ce n’est pas dégueu !<br>
                Je pars du principe que chacun et chacune est libre de choisir ce qu’il ou elle veut pour se sentir bien, dans
                le respect de soi et des autres. Je ne me revendique pas vraiment féministe puisque je n’ai encore jamais
                participé à des manifestations ou à des actions quelconques, cependant je tâche de concrétiser au quotidien mes
                valeurs. Plutôt que garçon manqué, je me considère fille réussie.<br>
            </p>
            <img alt="Ondine Féminisme" class="illustration left" illustration="féminisme">
            <a class="read-more">Lire plus</a>
        </div>
        <hr class="separator">
    </div>
    <div class="scrolling-section unactivated is-section-1">
        <div class="content">
            <h1 class="title is-3">REMERCIEMENTS</h1>
            <img alt="Ondine Remerciments" class="illustration top left" src="/static/gif/more/remerciements.png">
            <p>
                J’ai la chance considérable d’être entourée par une famille chaleureuse et attentive qui m’a toujours écoutée,
                conseillée, accompagnée et par des proches qui prennent soin de moi tous les jours : je vous aime infiniment,
                merci.<br>
                Je tiens aussi à rendre grâce à mon frère chéri qui est à l’origine de cette page web : il avait débuté cette
                vitrine virtuelle dans l’objectif de me faire une surprise pour mon anniversaire, et quand je lui ai parlé de
                mon envie de montrer mon art sur Internet il m’a dévoilé en avance son projet avec une grande émotion, et nous
                l’avons mené à bien main dans la main. Il s’est dévoué à mes souhaits quelquefois pointilleux pour coder tout
                ça, rien que pour moi : je t’aime Armand.<br>
                Et finalement un grand merci à toi, cher navigateur, pour ta visite et ton intérêt, à bientôt !
            </p>
            <p class="has-text-centered">
                <a href="/creations">
                    <img class="btn-img" alt="Ondine Texte Creations" src="/static/assets/boutons/creations.png">
                </a>
            </p>
        </div>
        <hr class="separator">
    </div>
</div>

<div class="pagination">
    <div class="dot is-active"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
</div>

<style>
    #page {
        overflow: hidden !important;
    }
    .scrolling-section p {
        max-width: 75%;
        margin: auto;
    }
    @media (max-width: 1024px) {
        .scrolling-section p {
            max-width: 100%;
            overflow: scroll;
        }
        #scroll {
            margin-top: 0;
        }
    }
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/static/js/browserSwipe.js"></script>
<script src="/static/js/touchswipe.js"></script>

<script>
    let i, new_window, new_window_content, choice, last_choice, window_location;
    const ILLUSTRATIONS = {"engagements": 2, "art": 2, "féminisme": 1, "inspiration": 5, "sport": 2, "voyages": 4, "écologisme": 2, "écriture": 1};
    var $body = $('html, body'),
        actualSection = 0,
        totalSections = 11,
        speed = 500,
        isScrolling = false,
        scrollingTimer,
        clicking = false,
        friction = 100,
        startY;

    $('body').swipe({
        swipe: function (event, direction) {
            if (direction === 'up') {
                moveScroll('down');
            } else if (direction === 'down') {
                moveScroll('up');
            }
        }
    });
    $('body, a, iframe').on('touchmove', function (e) {
        e.stopPropagation();
        e.preventDefault();
    });
    $('a, iframe').on('mouseenter', function (e) {
        e.stopPropagation();
        e.preventDefault();
    });
    $.browserSwipe({
        up: function () {
            moveScroll('up');
        },
        down: function () {
            moveScroll('down');
        }
    });

    function classModifier(time, el) {
        if (time === 'before') {
            el.classList.remove('activated')
            el.classList.add('unactivated')
        } else {
            el.classList.remove('unactivated')
            el.classList.add('activated')
        }
        document.querySelector('.dot.is-active').classList.remove('is-active')
        document.querySelector('.pagination').children[actualSection].classList.add('is-active')
    }

    var moveScroll = function (dir) {

        if ($body.is(':animated') === false) {
            isScrolling = true;
            clearTimeout(scrollingTimer);

            if (dir === 'up') {
                classModifier('before', Array.from(document.querySelector('#scroll').children)[actualSection])
                actualSection = actualSection <= 0 ? 0 : actualSection - 1;
                classModifier('after', Array.from(document.querySelector('#scroll').children)[actualSection])
            } else if (dir === 'down') {
                classModifier('before', Array.from(document.querySelector('#scroll').children)[actualSection])
                actualSection = actualSection >= totalSections - 1 ? totalSections - 1 : actualSection + 1;
                classModifier('after', Array.from(document.querySelector('#scroll').children)[actualSection])
            }

            scrollingTimer = setTimeout(function () {
                isScrolling = false;
                clicking = false;
            }, speed + 10);
        }
    }
    let params = new URLSearchParams(location.search)
    let n = parseInt(params.get("n")) - 1
    for (i = 0; i < n; i++) {
        moveScroll('down')
    }
    document.querySelectorAll('.pagination .dot').forEach(el => {
        el.addEventListener('click', () => {
            location.href = '/more?n=' + (Array.prototype.indexOf.call(el.parentNode.children, el) + 1)
        })
    })

    document.querySelectorAll('.read-more').forEach(el => {
        el.addEventListener('click', async () => {
            new_window = window.open()
            window_location = window.location.protocol + window.location.host
            new_window.stop()
            new_window_content = ''
            document.querySelectorAll('.scrolling-section').forEach((el) => {
                new_window_content += el.innerHTML
            })
            fetch('/static/reader.css').then(res => { return res.text() }).then(text => {
                new_window_content += `<style>${text}</style>`
                new_window.document.body.innerHTML = new_window_content
                new_window.document.head.innerHTML = `<meta name="viewport" content="width=device-width, initial-scale=1"><title>Ondine Camponovo - Reader Mode</title><link rel="stylesheet" href="${window_location}/static/reader.css"><link rel="preload" as="ManuscripteSite" href="${window_location}/static/Manuscripte-Regular.ttf" type="font/ttf" crossorigin="anonymous">`
            })

        })
    })
    Object.keys(ILLUSTRATIONS).forEach(category => {
        last_choice = -1
        document.querySelectorAll(`[illustration=${category}]`).forEach(el => {
            choice = Math.floor(Math.random() * ILLUSTRATIONS[category])
            while (choice === last_choice) {
                choice = Math.floor(Math.random() * ILLUSTRATIONS[category])
            }
            last_choice = choice
            choice += 1
            el.src = `/static/gif/more/${category}${choice}.png`
        })
    })
</script>
{% endblock %}
