{% extends "base.html" %}
{% block title %}Panneau Administrateur{% endblock %}
{% block imports %}
<link rel="stylesheet" href="/static/card.css">
<link rel="stylesheet" href="/static/admin.css">
{% endblock %}
{% block content %}
<div class="content" style="height: unset;">
    <h1>Bienvenue à toi chère(er) administratrice(eur)</h1>
    <p style="max-width: 50%; font-size: 1.5em !important; margin: auto">
        Ici tu pourras modifier, ajouter, supprimer des cartes,
        mais aussi notifier ton développeur favori des 'couilles dans le pâté' que tu auras trouvées sur ce site !<br>
        Connectée(é) en tant que <b>{{admin}}</b> <sup>administratrice(eur)</sup>
    </p>
</div>
<div class="content">
    <button class="button is-primary" onclick="window.open('/admin/gallery')">Ouvrir la galerie des cartes</button>
    <button class="button is-primary" onclick="window.open('/admin/add-card')">Créer une carte</button>
    <button class="button is-primary" onclick="sendMailModal()">Lutina Armand !</button>
</div>
<div class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <h3 class="title is-4">Ou écrit moi un mail :</h3>
        <form action="/admin/lutina" method="post">
            <div class="credentials">
                <div class="mail">
                    <input class="input" type="email" name="email" placeholder="ondine@camponovo.art" value="ondine@camponovo.art" required>
                </div>
                <div class="name">
                    <input class="input" type="text" name="name" placeholder="Ondine Compote de veau" value="Ondine" required>
                </div>
            </div>
            <div class="message">
                <div class="subject">
                    <input class="input" type="text" name="subject" placeholder="Zut, Crotte, Flûte !" required>
                </div>
                <div class="content">
                    <textarea class="textarea" name="content" placeholder="Euh c'est quoi ça ? ..... Merci ^^" required></textarea>
                </div>
            </div>
            <div class="send">
                <button class="button" type="submit">Lutina !</button>
            </div>
        </form>
    </div>
    <button class="modal-close is-large" aria-label="close" onclick="sendMailModal()"></button>
</div>
<script>
    let modal = document.querySelector('.modal')
    function sendMailModal() {
        modal.classList.toggle('is-active')
    }
</script>
{% endblock %}