{% extends "base.html" %}
{% block title %}Mentions Légales{% endblock %}
{% block imports %}
<link rel="stylesheet" href="/static/privacy.css">
{% endblock %}
{% block content %}
<div class="content no-font">
    {{text|safe}}
</div>
<style>
    p, li {
        font-size: 1.5rem !important;
    }
</style>
{% endblock %}