{% extends "base.html" %}
{% block title %}Pro{% endblock %}
{% block imports %}
<link rel="stylesheet" href="/static/section.css">
<link rel="stylesheet" href="/static/pro.css">
{% endblock %}
{% block content %}
<section class="section">
    <div class="cv">
        <h1 class="title is-1">Télécharger mon CV</h1>
        <p class="title"><a href="/static/Ondine-CAMPONOVO_CV.pdf" target="_blank">ondine_cv.pdf</a></p>
    </div>
</section>
<section class="section">
    <div class="portfolio">
        <div class="header">
            <h1 class="title is-1">Portfolio</h1>
        </div>
        <div class="site">
            <img class="gif" alt="Ondine Gif Chantier" src="/static/gif/final/en-chantier.gif">
        </div>
    </div>
</section>
{% endblock %}